
/* Account.css */
.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .account-form {
    width: 100%;
    max-width: 300px;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .account-form h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  
  .label {
    display: flex;
    align-items: center;
  }
  
  .input-field {
    display: flex;
    align-items: center;
  }
  
  .input-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .input-field input:focus {
    border-color: #e77600;
    box-shadow: 0px 0px 5px rgba(231, 118, 0, 0.2);
  }
  
  .success-message {
    color: #008000;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .btn-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
  
  .btn {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn-save {
    background: linear-gradient(to top right, #ffd700, #ffcc00);
    border: 1px solid #ffcc00;
    color: #000;
    margin-right: 10px;
    transition: background 0.3s, border-color 0.3s;
  }
  
  .btn-save:hover {
    background: linear-gradient(to top right, #ffcc00, #ffc700);
    border-color: #ffc700;
  }
  
  .btn-logout {
    background: #ff0000;
    border: 1px solid #ff3333;
    color: #fff;
  }
  
  .btn-logout:hover {
    background: #ff3333;
    border-color: #ff6666;
  }
  