* {
  font-family: "Amazon Ember", sans-serif;
}
.product-img {
  height: 200px;
  width: auto;
  cursor: pointer;
}
.product-feed-title {
  margin-left: 25px;
  margin-bottom: 10px;
  padding-top: 20px;
}
.product-feed {
  min-width: 1000px;
  max-width: 1500px;
  margin: auto;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 20px;
}
.product-item {
  margin: 0 10px 20px 10px;
  max-width: 200px;
}
.product-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 9px;
}
.product-price {
  text-align: left;
  font-weight: 600;
  margin-top: 5px;
}
.product_bar {
  display: flex;
  max-width: 250px;
  min-width: 100%;
}
.new_price {
  color: red;
}
.old-price {
  text-decoration: line-through;
}
